<!DOCTYPE html>
<html>

<head>

    <title>Task Manager</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='styles.css') }}">

</head>

<body>

<div class="container">

<h1>Task Manager</h1>

<h2>Create Task</h2>

<form method="POST" action="/create">

    <input type="text"
           name="title"
           placeholder="Title"
           required>

    <input type="text"
           name="description"
           placeholder="Description">

    <select name="status">

        <option value="Pending">
            Pending
        </option>

        <option value="Completed">
            Completed
        </option>

    </select>

    <button type="submit">
        Save
    </button>

</form>

<h2>Task List</h2>

<table>

<tr>

<th>ID</th>
<th>Title</th>
<th>Description</th>
<th>Status</th>
<th>Action</th>

</tr>

{% for task in tasks %}

<tr>

<td>{{ task[0] }}</td>
<td>{{ task[1] }}</td>
<td>{{ task[2] }}</td>
<td>{{ task[3] }}</td>

<td>

<a href="/delete/{{ task[0] }}">
Delete
</a>

</td>

</tr>

{% endfor %}

</table>

</div>

</body>

</html>